{{ indent .Depth }} {{ faint "╪" }} {{ statusIcon .State }} {{ .State.GetName }} {{ template "extras" . }}
{{ indent .Depth 1 }} {{ with .State.Execution }}{{ faint "wfId:" }} {{ .WorkflowId |  blue }} {{- faint ", runId:" }} {{ .RunId | blue }}{{ end }}
{{ template "failure" . }}{{ template "retry" . }}

{{- /* Termination Request */}}
{{- with .State.Termination -}}
{{ with .Reason }}
    {{- indent $.Depth 1 }} {{ "Termination reason:" | yellow }} {{ . | faint }}
{{ end -}}
{{ with .Identity }}
    {{- indent $.Depth 1 }} {{ "Termination request id:" | yellow }} {{ . | faint }}
{{ end -}}
{{ end -}}

{{- /* Cancel Request */}}
{{- with .State.CancelRequest -}}
{{ with .Cause }}
    {{- indent $.Depth 1 }} {{ "Cancel cause:" | yellow }} {{ . | faint }}
{{ end -}}
{{ with .Identity }}
    {{- indent $.Depth 1 }} {{ "Cancel request id:" | yellow }} {{ . | faint }}
{{ end -}}
{{ end -}}

{{- /* Folding */}}
{{- if shouldFold .State .Depth }}{{ indent $.Depth 1 }} {{ faint "↳ execution folded" }}
{{ end -}}
