---
id: tls-disable-host-verification
title: temporal  tls-disable-host-verification
sidebar_label: tls-disable-host-verification
description: Definition for the tls-disable-host-verification command option.
tags:
	- cli
---

Disables TLS host name verification if already enabled.
