name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Print build information
        run: "echo head_ref: ${{ github.head_ref }}, ref: ${{ github.ref }}, os: ${{ matrix.os }}"

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Set up Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Test
        env:
          CGO_ENABLED: 0
        run: go test ./...

  test-install:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            shell: bash
            install-approach:
          - os: ubuntu-latest
            shell: sh
            install-approach:
          - os: ubuntu-latest
            shell: zsh
            install-approach: sudo apt update && sudo apt install -y zsh
          - os: ubuntu-latest
            shell: fish
            install-approach: sudo apt update && sudo apt install -y fish
          - os: macos-latest
            shell: bash
            install-approach:
          - os: macos-latest
            shell: sh
            install-approach:
          - os: macos-latest
            shell: zsh
            install-approach: brew update && brew install zsh
          - os: macos-latest
            shell: fish
            install-approach: brew update && brew install fish

    runs-on: ${{ matrix.os }}
    steps:
      - name: Print build information
        run: "echo head_ref: ${{ github.head_ref }}, ref: ${{ github.ref }}"

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Ensure shell ${{ matrix.shell }} in ${{ matrix.os }}
        run: |
          echo ${{ matrix.install-approach }}
          ${{ matrix.install-approach }}

      - name: "Run Install Script"
        run: sh -c '${{ matrix.shell }} -c "./install.sh"'
