name: Release

on:
  workflow_dispatch:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  release:
    uses: ./.github/workflows/build-and-publish.yml
    with:
      publish: true
      version: ${{ github.ref_name }}
