name: 'Trigger Docker image build'

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  trigger:
    if: ${{ ! contains(github.ref, '-rc.') }}
    name: 'trigger Docker image build'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TEMPORAL_CICD_APP_ID }}
          private-key: ${{ secrets.TEMPORAL_CICD_PRIVATE_KEY }}
          owner: temporalio
          repositories: |
            cli
            docker-builds

      - name: Dispatch docker builds Github Action
        env:
          PAT: ${{ steps.generate_token.outputs.token }}
          PARENT_REPO: temporalio/docker-builds
          PARENT_BRANCH: ${{ toJSON('main') }}
          WORKFLOW_ID: update-submodules.yml
          REPO: ${{ toJSON('cli') }}
          BRANCH: ${{ toJSON('main') }}
          COMMIT: ${{ toJSON(github.sha) }}
        run: |
          curl -fL -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token $PAT" "https://api.github.com/repos/$PARENT_REPO/actions/workflows/$WORKFLOW_ID/dispatches" -d '{"ref":'"$PARENT_BRANCH"', "inputs": { "repo":'"$REPO"', "branch":'"$BRANCH"', "commit": '"$COMMIT"' }}'
